/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/public_html/file/temp
.bash_history
.composer/
.gitconfig
.hhvm.hhbc
.kube/
.lighttpd.conf
.lighttpd.conf-copy
.mysql_history
.toolskube/
.viminfo
access.log
error.log
public_html/file/
replica.my.cnf
service.log
service.manifest
